[Unit]
Description=GNOME Display Manager

# replaces the getty
Conflicts=getty@tty1.service

# Needs all the dependencies of the services it's replacing
# pulled from getty@.service and plymouth-quit.service
# (except for plymouth-quit-wait.service since it waits until
# plymouth is quit, which we do)
After=rc-local.service plymouth-quit.service systemd-user-sessions.service

# GDM takes responsibility for stopping plymouth, so if it fails
# for any reason, make sure plymouth still stops
OnFailure=plymouth-quit.service

[Service]
ExecStartPre=/bin/sh -c '[ "$(cat /etc/X11/default-display-manager 2>/dev/null)" = "/usr/sbin/gdm3" ]'
ExecStartPre=/usr/share/gdm/generate-config
ExecStart=/usr/sbin/gdm3
ExecReload=/bin/kill -HUP $MAINPID
ExecReload=/usr/share/gdm/generate-config
KillMode=mixed
Restart=always
RestartSec=1s
IgnoreSIGPIPE=no
# GDM is killed upon reload if BusName is set, let us forget it for now
#BusName=org.gnome.DisplayManager
StandardOutput=syslog
StandardError=inherit
EnvironmentFile=-/etc/default/locale
