.build
.lock
.workdir
.config.empty
.project
binary
cache
cache-*
chroot
chroot.files
chroot.packages.install
chroot.packages.live
live-image-*
config/bootstrap
config/build
config/common
config/source


